/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: 'Druk Wide Web';
  src: url('../../fonts/DrukWide-SuperItalic-Web.woff2') format('woff2'), url('../../fonts/DrukWide-SuperItalic-Web.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Web';
  src: url('../../fonts/DrukWide-Super-Web.woff2') format('woff2'), url('../../fonts/DrukWide-Super-Web.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Web';
  src: url('../../fonts/DrukWide-HeavyItalic-Web.woff2') format('woff2'), url('../../fonts/DrukWide-HeavyItalic-Web.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Web';
  src: url('../../fonts/DrukWide-Heavy-Web.woff2') format('woff2'), url('../../fonts/DrukWide-Heavy-Web.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Web';
  src: url('../../fonts/DrukWide-BoldItalic-Web.woff2') format('woff2'), url('../../fonts/DrukWide-BoldItalic-Web.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Web';
  src: url('../../fonts/DrukWide-Bold-Web.woff2') format('woff2'), url('../../fonts/DrukWide-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Web';
  src: url('../../fonts/DrukWide-MediumItalic-Web.woff2') format('woff2'), url('../../fonts/DrukWide-MediumItalic-Web.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Web';
  src: url('../../fonts/DrukWide-Medium-Web.woff2') format('woff2'), url('../../fonts/DrukWide-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Modern Era';
  src: url('../../fonts/ModernEra-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Modern Era';
  src: url('../../fonts/ModernEra-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Modern Era';
  src: url('../../fonts/ModernEra-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Modern Era';
  src: url('../../fonts/ModernEra-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Modern Era';
  src: url('../../fonts/ModernEra-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
