@import '../../styles/globals/variables';
@import '../../styles/globals/functions';
/* ==========================================================================
   Buttons
   ========================================================================== */

.button {
  font-family: $font-body;
  position: relative;
  cursor: pointer;
  border: 0.5px solid $color-white-border;
  display: inline-flex;
  text-transform: uppercase;
  font-size: rem(15px);
  letter-spacing: 3px;
  border-radius: 3px;
  background-color: $color-white;
  color: $color-black;
  padding: 1em 4em;
  line-height: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  transition: all 0.25s ease-in-out;
  font-weight: bold;
  min-height: 40px;
  min-width: 240px;
  min-height: 47px;
  @media only screen and (max-width: $breakpoint-medium) {
    min-width: 0;
  }
  &:hover,
  &:focus {
    filter: brightness(90%);
    outline: none;
  }
  &:active {
    filter: brightness(85%);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &--secondary {
    font-size: rem(12px);
    letter-spacing: 2.6px;
    min-height: 40px;
  }
  &--ghost {
    background-color: transparent;
    color: $color-white;
    border: 0.5px solid $color-white;
    min-height: 40px;
  }
  &--ghost-green {
    background-color: transparent;
    color: $color-white;
    border: 0.5px solid $color-green;
    min-height: 40px;
  }

  &--success {
    background-color: $color-green;
    border-color: $color-green;
    color: $color-white;
    min-height: 40px;
  }
  &--actioned {
    background: #1e1e1e 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    border: none;
    color: $color-white;
    min-height: 40px;
  }
  .icon {
    width: 22px;
    height: 22px;
    position: absolute;
  }
}

.button--google,
.button--facebook {
  font-size: rem(14px);
  letter-spacing: 0;
  text-transform: none;
  min-width: 0;
  min-height: 0;
  background-color: $color-white;
  border-color: $color-white;
  padding: 0.75em 1em;
  border-radius: 3px;
  color: $color-grey-medium;
  font-weight: 700;
  width: 100%;
  justify-content: space-between;
  img {
    margin-right: 20px;
  }
}

.button--facebook {
  background-color: $color-blue;
  border-color: $color-blue;
  color: $color-white;
}

.button--full-width {
  width: 100%;
}
